<nav class="navBar">
  <div class="logo">Image Galery</div>
  <div class="menuSec">
    <ul>
      <li>
        <a href="/images">Images</a>
      </li>
      <li>
        <a href="/">Upload</a>
      </li>
    </ul>
  </div>
</nav>
