<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/gallery.css" />
    <link rel="stylesheet" href="css/imageModal.css" />
    <title>galery</title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <h1>All images</h1>

    <div class="container">
      <% if(images.length === 0){ %>
      <h3>No images Uploaded yet</h3>

      <!-- // displaying the images from the database -->
      <% }else{ %> <% images.forEach((image)=>{ %>
      <div class="image">
        <img class="photo" src="uploads/images/<%= image.imageUrl %>" alt="" />
      </div>
      <% }) %> <% } %>
    </div>
    <div class="modal-container hide">
      <div class="modal">
        <img id="image-show" src="" alt="image prview" />
      </div>
    </div>
    <%- include('partials/footer.ejs') %>

    <script src="js/modal.js"></script>
  </body>
</html>
